# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
coverage/

# Next.js & Turbo & Cache
.next/
out/
build/
dist/
.turbo/
.cache/
.swc/
public/uploads/

# Expo
.expo/
web-build/
dist/
ios/
android/
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*

# Prisma
/prisma/*.db
/prisma/migrations/**/migration.sql.bak
node_modules/.prisma/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem
*.log
.npmrc
yarn-error.log
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# TypeScript
*.tsbuildinfo

# Expo Web
node_modules/expo-router/entry
